*{
	box-sizing: border-box; 
	margin: 0;
	padding: 0;
	
}
body{
	background-color: aqua;
}
h1{
	font-size: 75px;
	text-align: center;
	font-family: helvetica;
	color: darkblue;
	margin-bottom: 50px;
}
p{
    padding: 10px;
	border: 1px solid black;
	font-size: 40px;
	font-family: helvetica;
	font-weight: bolder;
	color: black;
	float: right;
					
}
#box{
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 90px;
	font-size: 25px;


}
#p1{
	background-color: skyblue;	
}
#p2{
	background-color: turquoise;
}	
#p3{
	background-color: pink;
}
div{
	color: black;
	background-color: lavender;
	font-style: italic ;
	margin-right: 20px;
	margin-left: 25px;
}
.row{
	width: 100%;	
}
@media(min-width: 992px){
			.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-4, .col-lg-5, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
				float: left;
				border: 1px solid black ;
			}
			.col-lg-1{
				width: 8.33%;
				
			}
			.col-lg-2{
				width: 16.66%;

			}
			.col-lg-3{
				width: 28.33%;

			}
			.col-lg-4{
				width: 33%;
			}
			.col-lg-5{
				width: 41.66%;
			}
			.col-lg-6{
				width: 50%;
			}
			.col-lg-7{
				width: 58.33%;
			}
			.col-lg-8{
				width: 66.66%;
			}
			.col-lg-9{
				width: 74.99%;
			}
			.col-lg-10{
				width: 83.33%;
			}
			.col-lg-11{
				width: 91.66%;
			}
			.col-lg-12{
				width: 100%
			}
		}
		@media(min-width: 768px) and (max-width: 991px){
			.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .cl-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
				float: left;
				border: 1px solid black;
			}
			.col-md-1{
				width: 8.33%;
			}
			.col-md-2{
				width: 16.66%;
			}
			.col-md-3{
				width: 25%;
			}
			.col-md-4{
				width: 33%;
			}
			.col-md-5{
				width: 41.66%;
				margin-bottom: 20px;
				
			}
			.col-md-6{
				width: 50%;
			}
			.col-md-7{
				width: 58.33%;
			}
			.col-md-8{
				width: 66.66%;
			}
			.col-md-9{
				width: 74.99%;
			}
			.col-md-10{
				width: 88.33%;
			}
			.col-md-11{
				width: 91.66%;
			}
			.col-md-12{
				width: 100%
			}
				
			

		}
		@media(max-width: 767px){
			.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12{
				float: left;
				border: 1px solid black;
			}
			.col-xs-1{
				width: 8.33%;
			}
			.col-xs-2{
				width: 16.66%;
			}
			.col-xs-3{
				width: 25%;
			}
			.col-xs-4{
				width: 33%;
			}
			.col-xs-5{
				width: 41.66%;
				margin-bottom: 20px;	
			}
			.col-xs-6{
				width: 50%;
			}
			.col-xs-7{
				width: 58.33%;
			}
			.col-xs-8{
				width: 66.66%;
			}
			.col-xs-9{
				width: 74.99%;
			}
			.col-xs-10{
				width: 83.33%;
				margin-bottom: 20px;

				
			}
			.col-xs-11{
				width: 91.66%;
			}
			.col-xs-12{
				width: 100%
			}

		}
